body {
    font-family: Arial;
    font-size: 16px;
    background-color: LightCyan;
}

.players-list {
    position: relative;
    width: 75%;
    margin: auto;
}

.player-list {
    position: relative;
}

.player-list-name {
    position:absolute;
    color: black;
    font-size: 25px;
    top: 10px;
    left: 10px;
    /* width: 100%; */
    background-color: rgba(255, 255, 255, 1);
}

.player-img {
    height: 200px;
}

.title {
    font-family: Helvetica;
    text-align: center;
    font-size: 64px; 
}

.player-name {
    font-family: Helvetica;
    font-style: italic;
}

#players-page {
    text-align: center;
    color: red;
}

.play-img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 2px;
}

.sound-name {
    margin-left: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 20px;
}

.player {
    background-color: rgb(94, 187, 237);
    width: 200px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    padding: 1rem;
    word-wrap: break-word;
}

.player-soundbar {
    position: relative;
    width: 50%;
    height: 60%;
    top: 1px;
    left: 15px;
    opacity: .2;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.right-player {
    width: 50px;
    height: 50px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
  }

.soundboard {
    position: relative;
    width: 50%;
    padding: 1rem;
    margin: auto;
}

.inline-block {
    display: inline-block;
}