<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {% endblock %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
    
</head>

<body>
    <div class="header">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <div class="search-container">
            <form action="/search" method="POST">
                <input type="text" placeholder="Search..." name="search">
                <button type="sumbit">Submit</button>
            </form>
        </div>
    </div>

    {% block body %}

    {% endblock %}

    </div>
</body>

</html>