{% extends "base.html" %}

{% block title %}
  Fortnite Soundboard
{% endblock %}

{% block body %}
  <h1 class="title">Fortnite Soundboard!</h1>

  <div class="players-list">
    {% for player in players %}
      <div class="player-list inline-block">
        <a href="{{ url_for('players', player=player) }}"><img src="{{ url_for('static', filename='imgs/players/' + player + '.jpg') }}" class="player-img"></a>
        <!-- <img src="{{ url_for('static', filename='imgs/players/' + player + '.jpg') }}" class="player-img"> -->
        <span class="player-list-name">{{player}}</span>
      </div>
    {% endfor %}
  </div>
{% endblock %}