{% extends "base.html" %}

{% block title %}
Submit
{% endblock %}

{% block body %}

<span class="title"><h1>Submit Sounds</h1></span>

<div class="submit-container">
    <form action="/submit-file" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" id="file" accept="audio/mp3, audio/wav" class="inputfile">
        <label for="file" id="file-label" class="select-styling">Choose a file</label>
        
        <br><br><br>

        <div class="select-container">
            <select id="players-select" class="select-styling" name="player-name" onchange="handleOther(this.value);">
                {% for player in players %}
                    <option value="{{player}}" class="select-styling">{{player}}</option>
                {% endfor %}
                <option value="other" class="select-styling">Other</option>
            </select>
            <input type="text" placeholder="Player..." name="other" id="other" class="select-styling" style="display: none;">
        </div>
        
        <br><br>
        
        <button type="submit" class="select-styling">Submit</button>
    </form>
</div>

<script>
    function handleOther(value) {
        element = document.getElementById("other");
        if (value == "other") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }
</script>
{% endblock %}